@charset "utf-8";
*{
margin: 0;
padding: 0;
}

html, body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
min-height: 100vh;
background-color: rgb(112, 101, 85);

}


/*capeça*/
header{
background-color: rgb(0, 0, 0);
color: white;
text-align: center;
  
}
h1{
font-family: "Passion One",sans-serif;
font-size: 10vw;
padding-top: 50px;
font-variant: small-caps;
}
header p{
padding-bottom: 50px;
}
section{
 font-size: 3.2vw;   
font-family:"Sriracha", cursive;
padding-top: 10vh;
padding-bottom: 10vh;
padding-left: 30px;
line-height: 2em;

}
.normal p{
padding-bottom: 2.5em; 
background-color: white;   
}
.normal{
background-color: white;
    
}
.imagem{
background-color: rgba(10, 9, 9, 0.747);
color: white;
box-shadow: inset 5px 6px 14px 2px rgba(0, 0, 0, 0.575);
background-size: cover; 
    
}

.imagem p{
display: inline-block;
padding-left: 5px;
background-color: rgba(0, 0, 0, 0.486);
text-shadow: 2px 2px 0px rgb(0, 0, 0);

}
#imagem01{
background-image: url(background001.jpg); 
background-position:right center;
background-attachment: fixed;  


}
#imagem02{
    background-image: url(background002.jpg);
background-position: right center;
background-attachment: fixed;  

}

/*rodape*/
 a{
text-decoration: none;
color: white;
font-variant: small-caps;
    
    
}
a:hover{
text-decoration: underline crimson;
    
}



/*rodape*/
footer{
background-color: black;
color: wheat;
text-align: center;
padding:10px
    
}

footer a{
color: rgb(0, 255, 21);
    
}